<div id="credentials">
  <h3>GitHub credentials</h3>
  <input type="text" name="username" ng-model="username" placeholder="username">
  <input type="password" name="password" ng-model="password" placeholder="password">
  <button ng-click="loadIssues()">Login</button>
</div>

<div id="issues">
  <h1>GitHub issues for repo:</h1>
  <ul>
    <li ng-repeat="x in myIssues">
      <input ng-click="CheckedBox(this)" type="checkbox" ng-model="checkbox" ng-hide="x.state == 'closed'" >
       <button ng-click="closeIssue(x.url)">close</button>
      <div class="title">Title: {{x.title}}</div>
      <div class="body">Body: {{x.body}}</div>

    </li>
  </ul>
</div>

<div id="new-issue">
  <h3>New issue</h3>
  <input ng-model="title" id="title" type="text" placeholder="Title">
  <textarea ng-model="body" id="body" placeholder="Body"></textarea>
  <div class="clearfix">
    <button ng-click="addIssue()">Add issue</button>
  </div>
</div>